resampy
python_speech_features
filetype==1.2.0
gradio==3.50
numpy==1.26.2
opencv-python
psutil
torch==2.1.2
tqdm
tensorflow-cpu
scipy
protobuf
dlib @ https://github.com/Inferencer/Dlib-Linux-Wheel-Python310/releases/download/v1.0/dlib-19.24.99-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
# wheel was built without cuda support so in theory dlib should perform on CPU only
